{% extends 'admin/base.html' %}
{% block body %}
    <div class="">
        <div class="">
            <form method="get">
                <input type="text" class="" name="search" placeholder="Szukaj..." style="width: 60%" value="{{ request.query_params['search'] }}">
                <button class=" ">Szukaj</button>
            </form>
        </div>
        <h2>Zatwierdzone weryfikacje</h2>
        <table class="  ">
            <thead>
            <tr>
                <th>Numer studenta</th>
                <th>User</th>
                <th>Data</th>
                <th>Akcja</th>
            </tr>
            </thead>
            <tbody>
            {% for vr in accepted %}
                <tr>
                    <td>
                        {{ vr.no }}
                    </td>
                    <td>
                        {{ vr.identity.user_name }}
                    </td>
                    <td>
                        {{ vr.accepted }}
                    </td>
                    <td>
                        <div class="">
                            <a href="{{ request.url_for('admin:review', rid=vr.id) }}"
                               class=" ">
                                🔍
                            </a>
                        </div>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}