<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Admin: {{ request.session["user"] }}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/uikit@3.10.1/dist/css/uikit.min.css"/>
    <script src="https://cdn.jsdelivr.net/npm/uikit@3.10.1/dist/js/uikit.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/uikit@3.10.1/dist/js/uikit-icons.min.js"></script>
</head>
<body>
<nav class="uk-navbar-container" uk-navbar>
    <div class="uk-navbar-left">
        <div class="uk-navbar-item uk-logo">ガード猫</div>
        <ul class="uk-navbar-nav">
            <li><a href="{{ request.url_for('admin:admin_index') }}">Pulpit</a></li>
            <li><a href="{{ request.url_for('admin:accepted') }}">Zatwierdzeni</a></li>
            <li><a href="{{ request.url_for('admin:rejected') }}">Odrzuceni</a></li>
        </ul>

    </div>
    <div class="uk-navbar-right">
        <ul class="uk-navbar-nav">
            <li>
                <a uk-icon="icon: sign-out; ratio: 1.25" href="{{ request.url_for('admin:admin_logout') }}">Wyloguj
                    się</a>
            </li>
        </ul>
    </div>
</nav>
{% block body %}
    <div class="uk-container">
        <div class="uk-flex uk-flex-row">
            <div class="uk-margin-right">
                <h2>Generuj link</h2>
                <button class="uk-button uk-button-default" uk-toggle="target: #link-gen">Otwórz generator</button>
                <div id="link-gen" uk-modal>
                    <div class="uk-modal-dialog">
                        <button class="uk-modal-close-default" type="button" uk-close></button>
                        <div class="uk-modal-header">
                            <h2 class="uk-modal-title">Generate link</h2>
                        </div>
                        <form method="post" action="{{ request.url_for('admin:admin_bypass') }}">
                            <div class="uk-modal-body">
                                <div class="uk-margin">
                                    <div class="uk-form-label">ID serwera</div>
                                    <div class="uk-inline">
                                        <select required name="guild" class="uk-select">
                                            {% for guild in bypass %}
                                                <option value="{{ guild.id }}">{{ guild.name }}</option>
                                            {% endfor %}
                                        </select>
                                    </div>
                                </div>
                                <div class="uk-margin">
                                    <div class="uk-form-label">ID użytkownika</div>
                                    <div class="uk-inline">
                                        <span class="uk-form-icon" uk-icon="icon: discord"></span>
                                        <input required name="user" class="uk-input" pattern="\d{18}">
                                    </div>
                                </div>
                                <div class="uk-margin">
                                    <div class="uk-form-label">Numer studenta (eska)</div>
                                    <div class="uk-inline">
                                        <span class="uk-form-icon" uk-icon="icon: users"></span>
                                        <input required name="student_no" class="uk-input" pattern="s\d+">
                                    </div>
                                </div>
                            </div>
                            <div class="uk-modal-footer">
                                <button class="uk-button uk-button-primary">Wyślij link</button>
                            </div>
                        </form>

                    </div>
                </div>
            </div>
            <div>
                <h2>Statystyki rejestracji</h2>
                {% for guild, stat in stats.items() %}
                    <p>
                        {% if guild.icon_url %}
                            <img style="height: 24px" src="{{ guild.icon_url }}" class="uk-margin-small-right">
                        {% endif %}
                        {{ guild }}: {{ stat }}
                    </p>
                {% endfor %}
            </div>
        </div>
        {% if awaiting|length > 0 %}
            <h2>Oczekujące weryfikacje</h2>
            <div uk-filter="target: .js-filter; animation: fade">
                <ul class="uk-subnav uk-subnav-pill">
                    <li uk-filter-control><a>Wszystkie</a></li>
                    <li uk-filter-control="[data-state='VerificationState.IN_REVIEW']"><a>Oczekujące</a></li>
                    <li uk-filter-control="[data-photos-ready=True]"><a>Oczekujące na sprawdzenie dokumentów</a></li>
                    <li uk-filter-control="[data-photos-ready=False]"><a>Oczekujące na przesłanie dokumentów</a></li>
                </ul>

                <table class="uk-table uk-table-divider">
                    <thead>
                    <tr>
                        <th>Nr studenta</th>
                        <th>Imię i nazwisko</th>
                        <th>User</th>
                        <th>Czas oczekiwania</th>
                        <th>Oznaczenia</th>
                        <th>Akcja</th>
                    </tr>
                    </thead>
                    <tbody class="js-filter">
                    {% for vr in awaiting %}
                        <tr data-state="{{ vr.state }}" data-photos-ready="{{ vr.photos_ready }}">
                            <td class="uk-table-shrink">
                                {{ vr.no }}
                            </td>
                            <td>
                                {{ vr.google.name }}
                            </td>
                            <td>
                                {{ vr.identity.user_name }}
                            </td>
                            <td>
                                {{ vr.wait_time }}
                            </td>
                            <td>
                                {% if vr.state.value == 'id required' %}
                                    {% if vr.photos_ready %}
                                        <span class="uk-badge">Przesłano zdjęcia</span>
                                    {% else %}
                                        <span class="uk-badge">Oczekuje na przesłanie dokumentów</span>
                                    {% endif %}
                                {% endif %}
                            </td>
                            <td>
                                <div class="uk-container-small">
                                    <a href="{{ request.url_for('admin:review', rid=vr.id) }}"
                                       class="uk-button uk-button-primary" uk-tooltip="Sprawdź użytkownika">
                                        🔍
                                    </a>
                                    <button uk-toggle="target: #confirm-{{ vr.id }}"
                                            class="uk-button uk-button-secondary" uk-tooltip="Odrzuć użytkownika">
                                        🗑
                                    </button>
                                </div>
                            </td>
                            <div id="confirm-{{ vr.id }}" uk-modal>
                                <div class="uk-modal-dialog uk-modal-body">
                                    <h2 class="uk-modal-title">Czy jesteś pewien?</h2>
                                    <form method="post" action="{{ request.url_for('admin:reject', rid=vr.id) }}"
                                          enctype="multipart/form-data">
                                        <label>
                                            Uzasadnienie decyzji
                                            <textarea required name="reason"
                                                      class="uk-textarea uk-margin-bottom">niezgodność danych</textarea>
                                        </label>
                                        <button class="uk-button uk-button-danger" type="submit">WYJEB GNOJA</button>
                                        <button class="uk-modal-close uk-button uk-button-default" type="button">Anuluj
                                        </button>
                                    </form>
                                </div>
                            </div>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        {% else %}
            <h2>Brak oczekujących weryfikacji</h2>
        {% endif %}
    </div>
{% endblock %}
</body>
</html>