<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Admin pan</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
        crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.slim.min.js"
        integrity="sha256-u7e5khyithlIdTpu22PHhENmPcRdFiHRjhAuHcs05RI=" crossorigin="anonymous"></script>
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid">
            <a class="navbar-brand">ガード猫</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarNav">
                <div class="navbar-nav me-auto mb-2 mb-lg-0">
                    <a class="nav-link" href="{{ request.url_for('admin:admin_index') }}">Pulpit</a>
                    <a class="nav-link" href="{{ request.url_for('admin:accepted') }}">Zatwierdzeni</a>
                    <a class="nav-link" href="{{ request.url_for('admin:rejected') }}">Odrzuceni</a>
                </div>
                <div class="d-flex">
                    <span class="navbar-text me-2">
                        {{ request.session["user"] }}</span>


                    <a class="btn btn-outline-danger" href="{{ request.url_for('admin:admin_logout') }}">Wyloguj
                        się</a>
                </div>
            </div>
        </div>
    </nav>
    {% block body %}
    <div class="container">
        <div>

            <div class="modal fade" id="link-gen" aria-labelledby="link-gen">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h2>Generate link</h2>
                        </div>
                        <form class="modal-body" method="post" action="{{ request.url_for('admin:admin_bypass') }}">

                            <div class="form-floating mb-3">
                                <select class="form-select" id="ID_floating" required name="guild">
                                    {% for guild in bypass %}
                                    <option value="{{ guild.id }}">{{ guild.name }}</option>
                                    {% endfor %}
                                </select><label for="ID_floating">ID serwera</label>

                            </div>
                            <div class="form-floating mb-3">
                                <input class="form-control" id="discord_floating" required name="user" pattern="\d{18}">
                                <label for="discord_floating">ID użytkownika</label>
                            </div>
                            <div class="form-floating mb-3">
                                <input class="form-control" id="Eska_floating" required name="student_no"
                                    pattern="s\d+">
                                <label for="Eska_floating">Numer studenta (eska)</label>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Zamknij</button>
                                <button type="submit" class="btn btn-primary">Wyślij link</button>
                            </div>
                        </form>

                    </div>
                </div>
            </div>
            <div>
                <h2>Statystyki rejestracji</h2>
                {% for guild, stat in stats.items() %}
                <p>
                    {% if guild.icon_url %}
                        <img loading="lazy" style="height: 24px" src="{{ guild.icon_url }}">
                    {% endif %}
                    {{ guild }}: {{ stat }}
                </p>
                {% endfor %}
            </div>
        </div>
        <button class="btn btn-outline-primary mb-2" data-bs-toggle="modal" data-bs-target="#link-gen">Generuj
            link</button>
        {% if awaiting|length > 0 %}

        <div>
            <div class="nav nav-pills mb-2 d-flex gap-1">
                <a class="nav-link active" data-state='VerificationState.IN_REVIEW'>
                    Oczekujące
                </a>
                <a class="nav-link" data-state='VerificationState.ID_REQUIRED'>Oczekujące na dokumenty</a>
                <a class="nav-link" data-state='ALL'>Wszystkie <span class="badge bg-secondary">{{ awaiting|length
                        }}</span></a>
            </div>

            <div id="cards" class="d-flex gap-2 flex-wrap">
                {% for vr in awaiting %}
                <div class="card" data-state="{{ vr.state }}" style="width: 18em">
                    <!-- <img src="{{ vr.google.raw['picture'] }}" class="card-img-top" /> -->
                    <div class="card-body">
                        <h3 class="card-title">{{ vr.google.name }}</h3>
                        <p>{{ vr.identity }}</p>
                        <p>{{ vr.no }}</p>
                        <p>
                            {% if vr.state.value == 'id required' %}
                            <span class="badge bg-primary">Oczekuje na przesłanie dokumentów</span>
                            {% elif vr.state.value == 'in review' %}
                            {% if vr.photos.ready %}
                            <span class="badge bg-primary">Przesłano zdjęcia</span>
                            {% endif %}
                            {% endif %}
                        </p>
                        <div class="modal fade" aria-labelledby="expelModal" id="confirm-{{ vr.id }}">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h2>Czy jesteś pewien?</h2>
                                    </div>

                                    <div class="modal-body">
                                        <form class="form-floating" method="post"
                                            action="{{ request.url_for('admin:reject', rid=vr.id) }}"
                                            enctype="multipart/form-data">

                                            <textarea class="form-control" id="reason_text" required
                                                name="reason">niezgodność danych</textarea>
                                            <label for="reason_text">
                                                Uzasadnienie decyzji</label>
                                            <div class="modal-footer">
                                                <button class="btn btn-danger" type="submit">WYJEB GNOJA</button>
                                                <button class="btn btn-secondary" data-bs-dismiss="modal"
                                                        type="button">Anuluj</button>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card-footer">
                        <a class="btn btn-outline-primary" href="{{ request.url_for('admin:review', rid=vr.id) }}">
                            🔍 Wgląd
                        </a>
                        <button class="btn btn-outline-danger" data-bs-toggle="modal"
                            data-bs-target="#confirm-{{ vr.id }}">
                            🗑 Odrzuć
                        </button>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
        {% else %}
        <h2>Brak oczekujących weryfikacji</h2>
        {% endif %}
    </div>
    <script type="text/javascript">
        $("a[data-state='VerificationState.IN_REVIEW']").click(() => {
            $(".nav a").removeClass("active");
            $("a[data-state='VerificationState.IN_REVIEW']").addClass("active");
            $(".card").hide();
            $("div[data-state='VerificationState.IN_REVIEW']").show()
        });
        $("a[data-state='VerificationState.ID_REQUIRED']").click(() => {
            $(".nav a").removeClass("active");
            $("a[data-state='VerificationState.ID_REQUIRED']").addClass("active");
            $(".card").hide();
            $("div[data-state='VerificationState.ID_REQUIRED']").show()
        })
        $("a[data-state='ALL']").click(() => {
            $(".nav a").removeClass("active");
            $("a[data-state='ALL']").addClass("active");
            $(".card").show();
        })
        $("a[data-state='VerificationState.IN_REVIEW']").trigger("click");
    </script>
    {% endblock %}
</body>

</html>