{% extends 'admin/base.html' %}
{% block body %}
<div class="container">
    <form class="form d-flex gap-1 mt-1 mb-1" method="get">
        <input type="text" class="form-control" name="search" placeholder="Szukaj..." style="width: 60%"
            value="{{ request.query_params['search'] }}">
        <button class="btn btn-outline-primary">Szukaj</button>
    </form>
    <h2>Odrzucone weryfikacje</h2>
    <table class=" table table-hover align-middle">
        <thead>
            <tr>
                <th>ID formy</th>
                <th>Numer studenta</th>
                <th>User</th>
                <th>Powód</th>
                <th>Akcja</th>
            </tr>
        </thead>
        <tbody>
            {% for vr in rejected %}
            <tr>
                <td class="">
                    <code>{{ vr.id }}</code>
                </td>
                <td>
                    <samp>
                        {{ vr.no }}
                    </samp>
                </td>
                <td>
                    {{ vr.identity }}
                </td>
                <td>
                    {{ vr.rejection }}
                </td>
                <td>
                    <a href="{{ request.url_for('admin:review', rid=vr.id) }}" class="btn btn-outline-primary ">
                        🔍 Wgląd
                    </a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}