{% extends 'admin/base.html' %}
{% block body %}
    <div class="">
        <div class="">
            <form method="get">
                <input type="text" class="" name="search" placeholder="Szukaj..." style="width: 60%" value="{{ request.query_params['search'] }}">
                <button class=" ">Szukaj</button>
            </form>
        </div>
        <h2>Odrzucone weryfikacje</h2>
        <table class=" ">
            <thead>
            <tr>
                <th>ID formy</th>
                <th>Numer studenta</th>
                <th>User</th>
                <th>Powód</th>
                <th>Akcja</th>
            </tr>
            </thead>
            <tbody>
            {% for vr in rejected %}
                <tr>
                    <td class="">
                        <code>{{ vr.id }}</code>
                    </td>
                    <td class="">
                        {{ vr.no }}
                    </td>
                    <td>
                        {{ vr.identity }}
                    </td>
                    <td>
                        {{ vr.rejection }}
                    </td>
                    <td>
                        <div class="">
                            <a href="{{ request.url_for('admin:review', rid=vr.id) }}"
                               class=" ">
                                🔍
                            </a>
                        </div>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}