[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
# Bot related dependencies
hikari = {extras = ["speedups"], version = "*"}
hikari-lightbulb = "*"
# User related dependencies
sendgrid = "*"
starlette = "*"
python-multipart = "*"
# Other (backend, db, networking)
pipenv = "*"
pymongo = "*"
uvicorn = "*"
python-dotenv = "*"
jinja2 = "*"
aiohttp = "*"
google-api-python-client = "*"
random-word = "*"
pyyaml = "*"

[dev-packages]
black = "*"
pylint = "*"

[requires]
python_version = "3.9"

[pipenv]
allow_prereleases = true

[scripts]
bot = "python -O -m discordcat"
webpage = "uvicorn webgate:app --host 0.0.0.0"
