[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
# Bot related dependencies
hikari = {extras = ["speedups"]}
hikari-lightbulb = ">=2.0.0"
# Web related dependencies
starlette = "*"
python-multipart = "*"
jinja2 = "*"
uvicorn = "*"
# DB
mongoengine = "*"
pymongo = "<4.0"
python-dotenv = "*"
# Services SDKs
google-api-python-client = "*"
sentry-sdk = "*"
# Utils
aiohttp = "<4.0.0"
pyyaml = "*"
millify = "*"
aiocron = "*"
lightbulb-ext-neon = {git = "https://github.com/neonjonn/lightbulb-ext-neon.git"}

[dev-packages]
black = "*"
pylint = "*"

[requires]
python_version = "3.10"

[pipenv]
allow_prereleases = true

[scripts]
bot = "python -O -m gadoneko"
cron = "python -O gadoneko/cron.py"
webpage = "uvicorn webgate:app --host 0.0.0.0"
