@media only screen and (min-aspect-ratio: 40/25) {
    #main-content {
        margin: 0;
        aspect-ratio: 40/25;
    }

    #captcha {
        flex-direction: row;
    }
}

body {
    background-color: hsl(240, 100%, 10%);
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 100vh;
}

.content-frame {
    margin: 5px;
    border: 1em solid #6c6cf1;
    padding: 1em;
    background-color: #4242e7;
    color: #a5a5ff;
    width: fit-content;
}

#captcha {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 16px 0 0 0;
}

#main_content::before {
    content: "PJATKommodore 2021";
    font-family: 'Courier Prime', monospace;
    text-align: center;
    display: inline-block;
    width: 100%;
    margin-bottom: 1em;
}

h1,
h3 {
    font-family: 'Press Start 2P', monospace;
    font-weight: 700;
    margin: 5px;
}

p,
a,
button {
    font-family: 'Courier Prime', monospace;

}

button {
    padding: 1em;
    border: dashed #6c6cf1;
    background-color: #4242e7;
    color: #a5a5ff;
    font-size: 16px;
}

button:hover,
button:active {
    border-color: #a5a5ff;
}

a:visited {
    color: #a5a5ff;
}

a:link {
    color: #a5a5ff;
    text-decoration-line: none;
}

a:link:hover,
button:hover,
a:link:active,
button:active {
    text-decoration-line: underline;
}

#discord_link {
    font-weight: bold;
}

#recaptcha-form {
    margin: 0;
    height: 78px;
}


@media (prefers-color-scheme: light) {
    body {
        background-color: hsl(240, 50%, 40%);
    }
}