{% extends 'home.html' %}
{% block body %}
<div >
    <script src="https://www.google.com/recaptcha/api.js" async defer></script>
    <script async defer src="https://epacik.github.io/DziekanskaCaptcha/scripts/dzieCaptcha.js"></script>
    <script>
        function auto_submit() {
            document.getElementById("recaptcha-form").submit()
        }
    </script>
    <h3>Dołącz do serwera "PJATK Informatyka 2021-2025"</h3>
    <div id=captcha>
        <div id="dzieCAPTCHA" data-dziecaptcha="loadHere"></div>
        <form id="recaptcha-form" method="POST">
            <div class="g-recaptcha" data-sitekey="6LeuVM4cAAAAAKngKl5rsVi7cvYYR2noj4ikwM06"
                style="display: inline-block;" data-callback="auto_submit"></div>
        </form>
    </div>
</div>
{% endblock %}