{% extends 'home.html' %}
{% block body %}
    <script src="https://accounts.google.com/gsi/client" async defer></script>
    <div id="g_id_onload" data-client_id="415405805208-n7irpdbl5go8cs5jf15i8005gd53iume.apps.googleusercontent.com"
         data-context="signup" data-ux_mode="popup" data-state="{{ secret }}" data-login_uri="{{ redirect }}"
         data-auto_prompt="false">
    </div>
    <div class="content-frame">
        <h1>Dodatkowe formalności</h1>
        <p>Status zgłoszenia: <span style="font-weight: bold; color: greenyellow">{{ vr.state.value }}</span></p>
        {% if vr.state.value == 'id required' %}
            <div class="content-frame">
                <h3 style="color: red; font-weight: bold">Zanim wyślesz</h3>
                <p>Dane, które weryfikujemy</p>
                <ul>
                    <li>numer studenta</li>
                    <li>imię i nazwisko</li>
                    <li>ważność legitymacji</li>
                </ul>
                <p>Dane, których <b style="color: red">nie</b> weryfikujemy <small>i powinien*ś ukryć/zamazać</small>
                </p>
                <ul>
                    <li>zdjęcie</li>
                    <li>PESEL</li>
                </ul>
            </div>
            <form method="post" enctype="multipart/form-data">
                <h3>Dokumenty</h3>
                <p>Wszystkie zdjęcia są usuwane po stwierdzeniu zgodności danych.</p>

                <div class="input-boxy">
                    <label>
                        Front legitymacji studenckiej
                        {% if vr.photo_front == None %}
                            <input name="photo-front" type="file" accept="image/*, image/heic">
                        {% else %}
                            ✅ przesłano
                        {% endif %}
                    </label>
                </div>

                <div class="input-boxy">
                    <label>
                        Tył legitymacji studenckiej
                        {% if vr.photo_back == None %}
                            <input name="photo-back" type="file" accept="image/*, image/heic">
                        {% else %}
                            ✅ przesłano
                        {% endif %}
                    </label>
                </div>
            {% if not vr.photo_front and not photo_back %}
                <button type="submit">Wyślij</button>
            {% endif %}
            </form>
        {% else %}
        <h3>Konto studenckie</h3>
        <div class="input-boxy">
            {% if vr.google == None %}
                <div class="g_id_signin" data-type="standard" data-shape="pill" data-theme="filled_black"
                     data-text="continue_with"
                     data-size="large" data-logo_alignment="left">
                </div>
            {% else %}
                <label>
                    Studenckie konto google ✅ przekazano dane
                </label>
            {% endif %}
        </div>
        <p>Logując się studenckim kontem Google, akceptujesz <a href="https://github.com/pjatk21/pjatk-cat-guard/blob/main/PRIVACY.md">politykę prywatności</a></p>
        {% endif %}

        {% if vr.state.value == 'in review' or vr.state.value == 'id required' %}
            <p style="color: greenyellow">Oczekuj kolejnych wiadomości na mailu/Discord DM</p>
        {% endif %}
    </div>
{% endblock %}