<!DOCTYPE html>
<html lang="pl">

<head>
    <meta charset="UTF-8">
    {% block tile %}
        <title>PJATK cat guard</title>
    {% endblock %}
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Courier+Prime&family=Lato&family=Press+Start+2P&display=swap"
          rel="stylesheet">
    <link href="/static/styles.css" rel="stylesheet">
    {% block head %}
    {% endblock %}
</head>

<body>
{% block body %}
    <div class="content-frame">
        <h1 style="text-align: center">Stop! OAuth please</h1>
        <p>Jestem botem pilnującym PJATKowych serwerów przed nieporządanymi ludźmi</p>
        <p style="text-align: center">
            <a href="{{ invitation }}">
                <button type="button">Dodaj mnie do swojego serwera B-)</button>
            </a>
        </p>
    </div>
    <div class="content-frame">
        <small>
            {% include 'copyright.html' %}
        </small>
    </div>
{% endblock %}
</body>

</html>