{% extends 'home.html' %}
{% block body %}
    <script src="https://accounts.google.com/gsi/client" async defer></script>
    <div class="container" style="margin-top: 100px">
        <div class="row">
            <div class="col"></div>
            <div class="col-5 text-center">
                <h2>Logowańsko</h2>
                <div id="g_id_onload"
                     data-client_id="415405805208-n7irpdbl5go8cs5jf15i8005gd53iume.apps.googleusercontent.com"
                     data-context="signin"
                     data-ux_mode="popup"
                     data-login_uri="http://localhost:8000/login"
                     data-auto_prompt="false">
                </div>

                <div class="g_id_signin"
                     data-type="standard"
                     data-shape="pill"
                     data-theme="filled_blue"
                     data-text="continue_with"
                     data-size="large"
                     data-logo_alignment="left">
                </div>
            </div>
            <div class="col"></div>
        </div>

    </div>
{% endblock %}