{% extends 'home.html' %}
{% block body %}
    <div class="content-frame" style="text-align: center">
        <h1>Dodatkowe formalności</h1>
        <p>Zanim przejdziemy dalej, potrzebujemy zdjęcia twojej legitymacji studenckiej.</p>
        <form method="post" enctype="multipart/form-data">
            <div class="input-boxy">
                <label>
                    Zdjęcie legitymacji studenckiej
                    <input name="photo-of-id" required type="file" accept="image/*, image/heic">
                </label>
            </div>
            <!-- <div class="input-boxy">
                 <label>
                     Kod bezpieczeństwa
                     <input name="safety-reference" pattern="\d{3}-\d{3}(-[amp])?">
                     <small>(opcjonalne)</small>
                 </label>
            </div> -->
            <div class="input-boxy">
                <label>
                    Oświadczam, że zapoznałem się z statutem serwera
                    <input name="regulations" required type="checkbox">
                </label>
            </div>
            <div class="input-boxy">
                <label>
                    Oświadczam, że nie jestem pracownikiem PJATK
                    <input name="no-dziekan" required type="checkbox">
                </label>
            </div>
            <button type="submit">Wyślij</button>
        </form>
    </div>
{% endblock %}